pkgbase = oceandl
	pkgdesc = Lightweight C++ CLI for downloading ocean/climate NetCDF datasets from NOAA PSL
	pkgver = 0.2.3
	pkgrel = 1
	url = https://github.com/lainx86/oceandl
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	depends = curl
	depends = fmt
	depends = tomlplusplus
	options = !lto
	source = oceandl-src-v0.2.3.tar.gz::https://github.com/lainx86/oceandl/releases/download/v0.2.3/oceandl-src-v0.2.3.tar.gz
	sha256sums = 7a61d066f6e1ecbd717157c76433b91e7f0b72e2d97d3ddbf2cb7bd9620bdbee

pkgname = oceandl
