pkgbase = oceandl
	pkgdesc = Lightweight C++ CLI for downloading ocean/climate NetCDF datasets from NOAA PSL
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/lainx86/oceandl
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	depends = curl
	depends = fmt
	depends = tomlplusplus
	options = !lto
	source = oceandl-src-v0.2.2.tar.gz::https://github.com/lainx86/oceandl/releases/download/v0.2.2/oceandl-src-v0.2.2.tar.gz
	sha256sums = 55aae2575bd6896738febc529ca63dfb67285e517fa424cdaf4846b069774c5d

pkgname = oceandl
