pkgbase = oceandl
	pkgdesc = Lightweight C++ CLI for downloading ocean/climate NetCDF datasets from NOAA PSL
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/lainx86/oceandl
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	depends = curl
	depends = fmt
	depends = tomlplusplus
	options = !lto
	source = oceandl-src-v0.2.1.tar.gz::https://github.com/lainx86/oceandl/releases/download/v0.2.1/oceandl-src-v0.2.1.tar.gz
	sha256sums = ffd19e2a7b13a546337c326df33e21b7f355ca9118a22741df2481f87c74c5cc

pkgname = oceandl
